<body>
    <h1>PhotoApp Admin Panel</h1>
    <ul>
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a href="/admin/drivers">Drivers List</a>
        </li>
        <li>
            <a href="/admin/deliveries">Deliveries List</a>
        </li>

    </ul>
    {{{body}}}
</body>